* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.icon {
  width: 1.6em;
  height: 1.6em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  margin: 0 8px;
}

.tools {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  padding-bottom: 8px;
}

svg.active {
  fill: #40b87f;
  transform: scale(1.3);
  transition: all 0.3s;
}

.colorPicker {
  position: fixed;
  top: 50px;
  left: 0px;
  list-style: none;
  padding: 12px 8px 8px 26px;
}

.colorPicker > li {
  width: 20px;
  height: 20px;
  border: 1px solid silver;
  border-radius: 50%;
  margin: 10px 0;
}

.colorPicker > li.active {
  transform: scale(1.3);
  transition: all 0.3s;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.red {
  background: #ff1a40;
}

.black {
  background: #000;
}

.blue {
  background: #1a8cff;
}

.green {
  background: #2bd965;
}

.yellow {
  background: #ffdd33;
}
